{% extends "base.html" %}
{% block content %}

{% load static %}

<h2 class="text-center ">ABOUT US</h2>
<section class="aboutusbg">

    <div class="d-flex flex-wrap p-5  align-items-center aboutusbg">

        <div class="col-6">
            <img src="{% static 'abc.png' %}" />
        </div>

        <div class="col-6">
            <h1 style="color: #303030;">For Your Best Service</h1>

            <h2 style="color: #303030;">We are all time ready to help you</h2>

            <p style="color: #303030;"> It's a simple message parents need to keep hearing.</p>



        </div>


    </div>

</section>

<div class="aboutusbgm mt-5 mb-5">
    <h2 class="text-center">Our Mission</h2>
    <p class="text-center">Our mission is to provide the best service to our patients. We are always ready to help you
    </p>

    <p class="text-center"> Surokkha is dedicated to leveraging smart technology in the medical industry to save lives
        and improve the overall well-being of </p>



    <p class="text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, quidem quas,
        cupiditate suscipit doloremque molestiae dolor at, nemo nostrum numquam soluta iure quia libero. Sapiente
        laudantium aut repudiandae non aspernatur</p>


    <div class="container text-center p-5   " style="background-color: rgba(241, 247, 247, 0.493); ">
        <div class="row vr " style="border-radius: 20px;">
            <div class="col vr">
                <h3>Patient-Centered Car</h3>
                <p>Our mission is to provide the best service to our patients. We are always ready to help you</p>
            </div>
            <div class="col m-2 vr">
                <h3>Commitment to Excellence</h3>
                <p>Our mission is to provide the best service to our patients. We are always ready to help you</p>
            </div>
            <div class="col vr">
                <h3>Community Impact</h3>
                <p>Our mission is to provide the best service to our patients. We are always ready to help you</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}