<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>

<body>

    <!-- Your page content goes here -->

    <footer class=" text-dark mt-5"" style=" background-color: #ECFBFA;">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>SUROKKHA is a Vaccination Management  system that made with python django</p>
                </div>
                <div class="col-md-4 ">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li ><a " style="text-decoration: none;color: #222222;" href="{%url 'home'%}">Home</a></li>
                        <li ><a " style="text-decoration: none;color: #222222;" href="{%url 'login'%}">Login</a></li>
                        <li > <a " style="text-decoration: none;color: #222222;" href="{%url 'registration'%}">Registration</a></li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Connect with Us</h5>
                    <p>Follow us on social media for updates.</p>

                    <div class="social-icons">

                        <a href="#""><img style=" color: aliceblue;" width="20" height="20"
                            src="https://img.icons8.com/ios/50/000000/facebook-new.png" alt="facebook-new" /></a>
                        <a href="#""><img style=" color: aliceblue;" width="20" height="20"
                            src="https://img.icons8.com/ios/50/000000/facebook-new.png" alt="facebook-new" /></a>

                    </div>
                </div>
            </div>
            <hr class="my-4">
            <p class="text-center">&copy; 2024 Your Website. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>