{% extends "base.html" %}
{% block content %}

{% load static %}

<div class="d-flex flex-wrap p-5  align-items-center background" >


    <div class="col-6">
        <h1 style="color: #303030;">Vaccines save lives</h1>

        <h2 style="color: #303030;">Fear endangers them.</h2>

        <p style="color: #303030;"> It's a simple message parents need to keep hearing.</p>
        <a href="{% url 'registration' %}" class="btn btn-outline-primary">Registration Now</a>


    </div>

    <div class="col-6">
        <img src="{% static '1.png' %}" />
    </div>
</div>

<section class="section-padding section-bg" id="section_2" " style="background-color: #ECFBFA;" >
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <img src="static/group-people-volunteering-foodbank-poor-people.jpg" class="custom-text-box-image " style="width: 100%;height: 100%;">
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-text-box">
                    <h2 class="mb-2">Our Story</h2>

                    <h5 class="mb-3">SUROKKHA</h5>

                    <p class="mb-0">This is a Bootstrap 5.2.2 CSS template for charity organization websites. You can feel free to use it. Please tell your friends about TemplateMo website. Thank you. HTML CSS files updated on 20 Oct 2022.</p>
                </div>
                
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="custom-text-box mb-lg-0">
                            <h5 class="mb-3">Our Mission</h5>

                            <p>Sed leo nisl, posuere at molestie ac, suscipit auctor quis metus</p>

                            <ul class="custom-list mt-2">
                                <li class="custom-list-item d-flex">
                                    <i class="bi-check custom-text-box-icon me-2"></i>
                                    Charity Theme
                                </li>

                                <li class="custom-list-item d-flex">
                                    <i class="bi-check custom-text-box-icon me-2"></i>
                                    Semantic HTML
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0">
                            <div class="counter-thumb"> 
                                <div class="d-flex">
                                    <span class="counter-number" data-from="1" data-to="2009" data-speed="1000"></span>
                                    <span class="counter-number-text"></span>
                                </div>

                                <span class="counter-text">2009 Founded</span>
                            </div> 

                            <div class="counter-thumb mt-4"> 
                                <div class="d-flex">
                                    <span class="counter-number" data-from="1" data-to="120" data-speed="1000"></span>
                                    <span class="counter-number-text">120 B</span>
                                </div>

                                <span class="counter-text">Donations</span>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}