{% extends "base.html" %}
{% block content %}

{% load static %}
<div class=" flex-wrap   p-5 background">
    <div class="col-10 p-3">
     
        <div class="d-flex flex-wrap pt-5 h-100">
            {% for vac in data %}
            <div class="col-sm-3 ">
                <div class="card m-2">

                    <img src="{{vac.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{vac.name}}</h5>
                        <p class="card-text">{{vac.description | truncatewords:10}}</p>
                        <h6 class="card-text">Doctor :{{vac.doctor}}</h6>
                        <button class="btn btn-success"><h6 class="card-text">Available Date :{{vac.available_date}}</h6></button>
                        <h6 class="card-text">Price :{{vac.price}}</h6>

                       
                        
                        <a href="{% url 'details' vac.id %}" class="btn btn-primary">Details View</a>
                        
   
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    
</div>
{% endblock %}